body {
  background-color: #333333;
}

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
  /* font-family: "Times New Roman", Times, serif; */
  display: flex;
  flex-wrap: wrap;
}

.clear-all-data-button {
  text-align: right;
  width: 100vw;
  margin-bottom: -5vh;
}

.display-and-entry-container {
  /* border: 1px solid white; */
  width: 60vw;
  height: fit-content;
  margin: 10vh auto 5vh 0;
  padding: 15px 0;
}

.textarea-entry-container {
  border: 5px solid #555;
  border-radius: 10px;
  background-color: #292929;
  height: fit-content;
  padding: 30px 0;
  margin: 10vh 10vw 0 0;
  width: 25vw;
}

.textarea-entry-display {
  width: 80%;
  height: fit-content;
  margin: auto;
  margin-top: 5%;
  font-family: "Roboto Slab", serif;
  border: 1px solid #555;
  border-radius: 5px;
  color: #888;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.textarea-entry-display h4 {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.textarea-entry-display p {
  padding: 0px 5%;
}

.item-entry-container {
  margin: 0 0 0 10vw;
  width: 50vw;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.alternate-name-remove-button {
  margin: auto 10% auto 5%;
  cursor: pointer;
  transition: all 0.3s;
}

.alternate-name-remove-button:hover {
  margin-right: 0%;
  border-color: #555 !important;
  border-radius: 15px;
}

.newly-added-item-transition {
  border: 2px solid orange !important;
  position: relative;
  right: 60vw;
  animation-name: newly-added-item-slide-in;
  animation-duration: 0.3s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes newly-added-item-slide-in {
  from {
    right: 60vw;
  }
  to {
    right: 0vw;
  }
}

.old-item-shift-down-transition {
  padding: 5px;
  position: relative;
  bottom: 130px;
  animation-name: old-item-shift-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes old-item-shift-down {
  from {
    bottom: 130px;
  }
  to {
    bottom: 0px;
  }
}

.current-alternate-names-container {
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 5px;
  height: fit-content;
}

.current-alternate-names-fade-away {
  position: relative;
  animation-name: alt-name-fade-away;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes alt-name-fade-away {
  0% {
    font-size: 100%;
    height: fit-content;
    margin-top: 5px;
  }
  50% {
    font-size: 0%;
    height: fit-content;
    margin-top: 0px;
  }
  100% {
    font-size: 0%;
    height: 0;
  }
}

.current-alternate-names-fade-in {
  position: relative;
  animation-name: alt-name-fade-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
}

@keyframes alt-name-fade-in {
  from {
    font-size: 0%;
    height: 0;
  }
  to {
    font-size: 100%;
    height: fit-content;
  }
}
