body {
  background-color: #333333;
}

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
  /* font-family: "Times New Roman", Times, serif; */
  display: flex;
  flex-wrap: wrap;
}

.display-and-entry-container {
  /* border: 1px solid white; */
  width: 60vw;
  height: fit-content;
  margin: 10vh auto 5vh 0;
  padding: 15px 0;
}

.textarea-entry-container {
  border: 5px solid #555;
  border-radius: 10px;
  background-color: #292929;
  height: fit-content;
  padding: 30px 0;
  margin: 10vh 10vw 0 0;
  width: 25vw;
}

.item-entry-container {
  margin: 0 0 0 10vw;
  width: 50vw;
  min-width: 400px;
  display: flex;
}

#entry-button {
  /* border: 1px solid white; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #66b;
  border-color: #44b;
}

#entry-button:hover {
  border-color: #66b;
}

.button-hover {
  font-size: 150%;
  animation-name: button-hover-shrink;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes button-hover-shrink {
  from {
    font-size: 150%;
  }
  to {
    font-size: 100%;
  }
}

.button-hover:hover {
  animation-name: button-hover-grow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes button-hover-grow {
  from {
    font-size: 100%;
  }
  to {
    font-size: 150%;
  }
}

.current-alternate-names-container {
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 5px;
}

.alternate-name-remove-button {
  animation: grow-right-margin 0.3s forwards;
}

@keyframes grow-right-margin {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 10%;
  }
}

.alternate-name-remove-button:hover {
  animation: close-right-margin 0.3s forwards;
  cursor: pointer;
}

@keyframes close-right-margin {
  from {
    margin-right: 10%;
    border: 1px solid #292929;
  }
  to {
    margin-right: 0;
    border: 1px solid #777;
    border-radius: 15px;
  }
}
